/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {}


@media (max-width : 1300px) {

  .products__more {
    margin-top: 120px;
  }

  .product-slider {
    display: flex;
    gap: 22px;
  }


  .product-slider .slick-dots {
    position: absolute;
    bottom: -90px;
    transform: rotate(-90deg);
  }

  .product-slider .slick-dots button {
    width: 14px;
    height: 14px;
    font-size: 0;
    border: none;
    border-radius: 50%;
    margin: 0 22px;
    background-color: #C4C4C4;
  }

  .product-slider .slick-dots .slick-active button {
    background-color: #1C62CD;
  }

}


/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

  .banner-section__slider-img {
    // min-height: 380px;
    max-width: 600px;
  }

  .banner-section__inner {
    justify-content: space-around;
  }

  .banner-section__slider {
    max-width: 600px;

  }

  .banner-section__item {
    min-height: 400px;
  }

  .categories__inner {
    justify-content: space-around;
  }

  .catalog__inner-list {
    justify-content: space-around;

  }

}


@media (max-width : 1100px) {
  .menu__item+.menu__item {
    padding-left: 20px;
  }

  .card__form-inputsearch {
    margin-right: 0;
  }

}

/* md <= Large (lg) */
@media (max-width : 992px) {}


@media (max-width : 968px) {

  .menu-categories {
    margin-bottom: 20px;
  }

  .menu__mobile-linewrapper {
    margin-bottom: 40px;
  }

  .header__bottom {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .menu__btn-line {
    background: #2F3035;
    border-radius: 3px;
    width: 34px;
    height: 3px;
    margin: 8px 0;
  }


  .menu__mobile-linewrapper {
    display: block;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    background: #F0F0F4;
    padding: 14px 0 14px 15px;
    overflow-x: scroll;
  }

  .menu__mobile-line {
    width: 450px;
  }


  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }


  .banner-section__slider-item {
    text-align: center;
  }

  .banner-section__slider {
    max-width: 100%;
    margin-bottom: 25px;

  }


  .banner-section__slider-img {
    // min-height: 300px;
    max-width: 1200px;
    width: 100%;

  }

  .mobile-overflow {
    width: 1000px;
  }

  .tabs-wrapper,
  .breadcrumbs__inner,
  .catalog__filter-itemsinner {
    overflow-x: scroll;
  }

  .tabs-wrapper.tabs-wrapper--no-scroll {
    overflow: hidden;
  }


  .footer__top-inner {
    flex-wrap: wrap;
  }

  .footer__top-item {
    margin-bottom: 25px;
  }

  .card__tabs {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }


  .card__tab {
    padding-bottom: 15px;
    color: #2F3035;
    font-size: 20px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .card__tab.tab--active {
    color: #2F3035;
    opacity: 1;
    border-bottom: 1px solid transparent;
    font-weight: 700;
  }

}


@media (max-width : 940px) {
  .tabs-wrapper {
    margin-bottom: 20px;
  }

  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: start;
  }

  .footer__top-item {
    margin-bottom: 25px;
  }

  .catalog__filter-button {
    display: none;
  }

  .catalog__filter-btn {
    margin-top: 30px;
  }

  .catalog__filter {
    display: block;
  }

  .card__top-line label {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 0;
  }

  .card__list-item {
    display: block;
  }

  .card__list-item div {
    margin-bottom: 15px;
  }

  .card__list-itemtitle {
    display: none;
  }

  .card__form-inputsearch,
  .card__form-inputpickup {

    margin-left: 0;
  }

}



/* sm <= Medium (md) */




@media (max-width : 775px) {}



@media (max-width : 640px) {

  .header__address {
    display: none;
  }

  .search__content-btn {
    font-size: 0;
    line-height: 0;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 17px;
    position: absolute;
    right: 8px;
    top: 13px;
  }

  .search__content-input {
    height: 50px;
    padding-right: 50px;
  }

  .search__content-form {
    position: relative;

  }


  .banner-section__slider-img {
    min-height: 370px;
    max-width: 600px;
    width: 100%;
  }


  .footer__top-item {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__top-title {
    cursor: pointer;
  }

  .catalog__inner {
    flex-wrap: wrap;
  }

  .catalog__inner-aside {
    width: 100%;
  }

  .aside__btn {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    color: white;
    background-color: #1C62CD;
    margin-bottom: 30px;
    cursor: pointer;

  }

  .aside-filter {
    display: none;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-item__wrapper {
    margin: 0 auto;
  }
}

@media (max-width : 576px) {

  .banner-section__slider-img {
    min-height: 335px;
    max-width: 580px;
    width: 100%;
  }

  .product-card {
    padding-bottom: 0;
  }

  .product-card__inner {
    flex-wrap: wrap;

  }

  .product-card__img-box {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-card__content {
    order: -1;
  }

  .product-card__tabs {
    display: none;
  }

  .product-card__btn-mobile {
    display: block;
  }

}


@media (max-width : 540px) {

  .footer__inner {
    justify-content: start;
  }

  .footer__top-item {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: start;

  }

  .footer__bottom-link {
    margin: 12px 0px;
  }


  .footer__top-item.footer__top-social {
    width: 100%;
    border-bottom: none;
  }

  .social-list {
    justify-content: center;
  }

  .footer-list {
    display: none;
  }


  .footer__top-title.footer__topdrop {
    font-size: 14px;
    line-height: 18px;
    color: #7F7F7F;
    font-weight: 500;
    padding: 15px 0;
    border-bottom: 2px solid #F9F9FC;

  }

  .footer__top-item {
    border-bottom: 2px solid #F9F9FC;
  }

  .footer__topdrop {
    cursor: pointer;
    position: relative;
  }

  .footer__topdrop::after {
    position: absolute;
    content: "";
    background-image: url('../images/arrow-down.svg');
    right: 0;
    top: 21px;
    width: 12px;
    height: 8px;

  }

  .footer__topdrop--active::after {
    transform: rotate(180deg);
  }

  .footer__top-item:nth-child(2) {
    max-width: 100%;
  }

  .footer__topdrop {
    pointer-events: auto;
  }


}



@media (max-width : 520px) {
  .banner-section__slider-img {
    min-height: 260px;
    max-width: 500px;
  }


}


/* xs <= Small (sm) */
@media (max-width : 475px) {

  .banner-section__slider-img {
    min-height: 200px;
    max-width: 480px;
  }


  .footer__bottom {
    justify-content: start;
    padding: 0;
  }

  .footer__bottom-link {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .footer__top-item.footer__top-newslatter {
    margin-right: auto;
    margin-left: auto;
    width: 290px;
    text-align: center;
  }

  .footer__top-item:last-child {
    max-width: 100%;
    margin-right: 0;
  }

  .footer__top-social {
    justify-content: center;
  }


}



@media (max-width : 425px) {

  .banner-section__slider-img {
    min-height: 200px;
    max-width: 430px;
  }


}


@media (max-width : 375px) {
  .banner-section__slider-img {
    max-width: 350px;
  }


  .products__title {
    font-size: 22px;
  }


  .card__tabs {

    align-items: start;
  }

  .card__tabs-content.tabs-content--active {
    padding-left: 0;
  }

}