.banner-section {

   &__inner {
      display: flex;
      justify-content: space-between;
   }


   &__slider {
      max-width: 870px;
      line-height: 0;
   }

   // &__slider-item {
   //    height: 400px;
   // }

   &__slider-img {
      object-fit: cover;
      min-height: 400px;
      padding: 0;

   }

   // &__item {
   // }



   .slick-dots li {
      display: inline-block;
      padding: 0 5px;
   }


   .slick-dots button {
      cursor: pointer;
      padding: 0;
      font-size: 0;
      width: 11px;
      height: 11px;
      margin: 0;
      border: 1px solid #FFF;
      border-radius: 50%;
      background-color: transparent;

   }

   .slick-active button {
      background-color: #FFF;
   }

}



.sale-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 265px;
   text-align: center;
   border: 1px solid #CDCDCD;
   border-radius: 3px;

   &__top {
      display: flex;
      justify-content: space-between;
   }

   &__info {
      color: #FFF;
      font-family: 'Proxima Nova';
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: #1C62CD;
      padding: 8px 20px;
      align-self: flex-start;
   }


   &__price {
      text-align: right;
   }


   .price {

      position: relative;
      font-family: 'Barlow', sans-serif;
   }



   &__price-new {
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 32px;
      color: #1C62CD;
      margin-right: 6px;
      padding-right: 20px;

      &::after {
         content: "";
         position: absolute;
         background-image: url("../images/icons-price.svg");
         right: 0;
         width: 15px;
         height: 18px;
         top: 8px;

      }

   }



   &__price-old {
      font-family: 'Barlow';
      font-style: normal;
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
      padding: 2px 5px;
      display: inline-block;
      background-image: url('../images/old-line.svg');
      background-repeat: no-repeat;
      margin-right: 10px;

      &::after {
         content: "";
         position: absolute;
         background-image: url('../images/icons-price-old.svg');
         background-repeat: no-repeat;
         top: 5px;
         width: 8px;
         height: 10px;

      }

   }

   &__img {
      margin: 0 auto;
      object-fit: contain;
   }

   &__title {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #2F3035;
      margin-bottom: 7px;
   }

   &__footer {
      background-color: #F0F0F4;
      padding: 25px 20px;
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #2F3035;

      span {
         display: block;
         font-family: 'Barlow';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 22px;
         text-align: center;
         color: #1C62CD;
      }
   }
}



.banner-section__slider-btn,
.product-slider__slider-btn {
   cursor: pointer;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: transparent;
   border: none;
   padding: 0;
   margin: 0;
   z-index: 5;

}

.banner-section__slider-btnprev {
   left: 20px;
}

.banner-section__slider-btnnext {
   right: 20px;
}

.slick-dots {
   position: absolute;
   bottom: 40px;
   left: 0;
   right: 0;
   text-align: center;

}


// .slick-dots li {
//    display: inline-block;
//    padding: 0 5px;
// }


// .slick-dots button{
//    cursor: pointer;
//    padding: 0;
//    font-size: 0;
//    width: 11px;
//    height: 11px;
//    margin: 0;
//    border: 1px solid #FFF;
//    border-radius: 50%;
//    background-color: transparent;

// }

// .slick-active li button{
//    background-color: #FFF;
// }