.categories {

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {

      margin-bottom: 30px;
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      border-radius: 3px;
      width: 370px;
      display: flex;
      padding: 20px 20px 16px;
      justify-content: space-between;
      transition: all .3s;

      &:hover {
         box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);

      }

      &:hover .categories__item-title {
         color: #1C62CD;
      }
   }


   &__item-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }



   &__item-title {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 28px;
      color: #2F3035;
      transition: all .3s;
   }

   &__item-text {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
      padding-right: 17px;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         width: 8px;
         height: 9px;
         top: 6px;
         right: 75px;
         background-image: url("../images/link-arrow.svg");
         background-repeat: no-repeat;
      }
   }


   &__item-img {
      text-align: center;
      width: 50%;
   }
}