.catalog {
   margin-bottom: 100px;

   &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      font-family: 'SF Pro Display';
      margin-bottom: 26px;
   }

   &__filter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
   }

   &__filter-items {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

   }

   &__filter-items button {
      cursor: pointer;
      font-size: 14px;
      line-height: 17px;
      opacity: 0.7;
      background: #F0F0F4;
      border-radius: 3px;
      border: none;
      padding: 5px 22px;
   }

   &__filter-items button+button {
      margin-left: 8px;
      cursor: pointer;
   }



   &__filter-btn {
      display: flex;
      align-items: center;

   }

   &__filter-btn button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;

   }

   &__filter-btn button+button {
      margin-left: 10px;

   }

   // &__filter-select {
   // }

   // &__filter-option {
   // }

   // &__filter-btngrid {
   // }

   // &__filter-btnline {
   // }

   &__inner {
      display: flex;
      justify-content: space-between;

   }

   &__inner-aside {
      width: 290px;
      margin-right: 10px;

   }

   &__inner-list {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;

   }
}



// .product-item {

// &__wrapper {
//    width: 100%;

// &__favorite {
// }

// &__basket {
// }

// &__notify-link {
// }

// &__hover-text {
// }

// &__img {
// }

// &__title {
// }

// &__price {
// }

// &__notify-text {
// }

// }
// .price {
// }

.aside-filter__tabs {
   display: flex;
   justify-content: space-between;
}

.aside-filter__tab {
   font-family: 'SF Pro Display';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   color: #C4C4C4;
}

.aside-filter__tab.tab--active {
   color: #2F3035;
   font-weight: 700;
   font-family: 'SF Pro Display';
}


.aside-filter__tab.tab--active span {
   font-family: 'SF Pro Display';
   display: inline-block;
   padding-bottom: 7px;
   color: #2F3035;
   border-bottom: 2px solid #1C62CD;
   font-weight: 700;
}


.aside-filter__item-drop {
   margin: 40px 0;

}


.aside-filter__item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   color: #2F3035;
   padding-left: 26px;

}

.aside__btn {
   display: none;
}

.filter__item-drop {
   cursor: pointer;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      background-image: url('../images/arrow-down.svg');
      background-repeat: no-repeat;
      left: 0;
      bottom: 5px;
      width: 12px;
      height: 8px;
      transform: rotate(0deg);
   }

}



.filter__item-drop--active::before {
   transform: rotate(180deg);

}

.aside-filter__content {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;

}

.aside-filter__content-box {
   width: 50%;
   margin-bottom: 10px;
}


.aside-filter__content-label {
   font-size: 14px;
   line-height: 17px;
   cursor: pointer;

}

.jq-checkbox,
.jq-radio {
   width: 14px;
   height: 14px;
   background: #FFFFFF;
   border: 1px solid #C4C4C4;
   border-radius: 1px;
   box-shadow: none;
   margin: 0 8px 0 0;
   vertical-align: -1px;
}


.jq-checkbox.checked,
.jq-radio.checked {
   background: #1C62CD;
   border: none;


}



.jq-checkbox.checked .jq-checkbox__div {
   width: 8px;
   height: 6px;
   background-image: url('../images/checked-icon.svg');
   margin: 4px 0 0 3px;
   border-bottom: none;
   border-left: none;
   -webkit-transform: rotate(0);
   transform: rotate(0);
}

.jq-radio.checked .jq-radio__div {
   width: 0;
   height: 0;
   margin: 0;
   border-radius: 0;
   background: transparent;
   box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio {
   flex-wrap: nowrap;
}

.irs--flat.irs-with-grid {
   width: 100%;
}

.irs--flat {
   width: 100%;
   margin-top: -15px;
}

.irs-from {
   display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
   display: none;
}


.irs--flat .irs-min,
.irs--flat .irs-max {
   top: 55px;
   padding: 0;
   text-shadow: none;
   background-color: transparent;
   border-radius: 4px;
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   text-decoration-line: underline;
   color: #2F3035;
   visibility: visible !important;
   padding-left: 27px;

}

.irs-min::before,
.irs-max::before {

   font-size: 14px;
   line-height: 17px;
   font-family: 'SF Pro Display';
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #C4C4C4;
   position: absolute;
   left: 0;


}


.irs-min::before {
   content: 'от';

}

.irs-max::before {
   content: 'до';
   text-decoration: none;
}


.irs--flat .irs-line {
   top: 25px;
   height: 1px;
   background-color: #E0E0E0;
   border-radius: 0;
}

.irs--flat .irs-bar {
   top: 25px;
   height: 3px;
   background-color: #1C62CD;
}

.irs--flat .irs-handle {
   top: 22px;
   width: 8px;
   height: 8px;
   background-color: #1C62CD;
   border-radius: 50%;
}


.irs--flat .irs-handle>i:first-child,

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
   background: transparent;
}


.aside-filter__item-list {
   margin: 46px 0 40px;

}


.filter__item-list {
   border-bottom: 2px solid #C4C4C4;
   display: flex;
   justify-content: space-between;
   padding-top: 34px;

}

.filter__item-listtitle {
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   color: #2F3035;
   padding-left: 26px;
}

// .filter__item-listselect{

// }


.jq-selectbox__select {
   height: 32px;
   padding: 0 25px 0 10px;
   border-radius: 0;
   background: transparent;
   box-shadow: none;
   text-shadow: none;
   border: none;
}


.jq-selectbox__select-text {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   color: #48494D;
   border-radius: 3px;
   // overflow: hidden;
   // -webkit-user-select: none;
   // -moz-user-select: none;
   // -ms-user-select: none;
   // user-select: none;
   // white-space: nowrap;
   // text-overflow: ellipsis;

}

.jq-selectbox__trigger-arrow {
   position: absolute;
   top: 14px;
   right: 12px;
   width: 0;
   height: 0;
   border: none;
}




.jq-selectbox__trigger {
   position: absolute;
   background-image: url('../images/arrow-down.svg');
   width: 12px;
   height: 8px;
   border-left: none;
   top: 10px;
   right: 9px;
}


.jq-selectbox__select:hover,
.jq-selectbox__select:active {
   background: transparent;
   box-shadow: none;

}

.jq-selectbox.focused .jq-selectbox__select {
   border: none;
}

.jq-selectbox li:hover {
   background: rgba(107, 126, 172, 0.05);
   color: rgba(0, 0, 0, 00.6)
}

.jq-selectbox li.selected {
   background: rgba(107, 126, 172, 0.05);
   color: rgba(0, 0, 0, 00.6)
}

.jq-selectbox li {

   color: rgba(0, 0, 0, 00.6)
}

.jq-selectbox__dropdown {
   border-radius: 0;
   padding-top: 15px;

}

.filter-more {
   width: 100%;
}

.filter-more__btn {
   cursor: pointer;
   color: #1C62CD;
   border: none;
   border-bottom: 1px solid #1C62CD;
   background-color: transparent;
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   text-decoration-line: underline;
   padding: 0;

}

.filter-search {
   width: 100%;
   border: 1px solid #E0E0E0;
   // height: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
   padding: 8px 20px;
   color: #2F3035;
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;

   &::placeholder {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #BDBEC2;
   }
}


.btn-checked .aside-filter__content {
   flex-wrap: nowrap;
   justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
   width: auto;
}

.btn-checked .aside-filter__content-label {
   position: relative;
   height: 25px;
   width: 63px;
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.07em;
   color: #C4C4C4;

}

.btn-checked .jq-checkbox {
   background: #F0F0F4;
   height: 25px;
   width: 63px;
   border: none;
}


.btn-checked .jq-checkbox.checked {
   background: #1C62CD;
   color: #FFFFFF;

}

.btn-checked .jq-checkbox.checked~.btn-checked__text {
   color: #FFFFFF;
}

.btn-checked__text {
   position: absolute;
   top: -5px;
   left: 50%;
   transform: translateX(-57%);
   z-index: 5;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
   display: none;
   color: #FFFFFF;
}



.aside-filter {

   // &__item-drop {
   // }

   // &__item-title {
   // }

   // &__content {
   // }

   // &__content-box {
   // }

   //    &__content-label {
   //    }
   // }


   // .filter {

   //    &__item-drop {
   //    }

   //    &__item-drop--active {
   //    }

   //    &__extra {
   //    }

   //    &__extra-content {
   //    }
   // }

   // .filter-more {

   //    &__btn {
   //    }



   .filter-btn {
      &__choose {
         background: #F0F0F4;
         padding: 16px 85px;
         font-family: 'SF Pro Display';
         font-style: normal;
         font-weight: 400;
         font-size: 15px;
         line-height: 18px;
         text-align: center;
         letter-spacing: 0.12em;
         text-transform: uppercase;
         color: #BDBEC2;
         border: none;
         cursor: pointer;
         margin-bottom: 15px;
      }



      &__choose--active {
         background: #1C62CD;
         color: #FFFFFF;
      }



      // &__reset {
      // }

   }

   .aside-filter__item-btn {
      text-align: center;
   }

   .filter__extra {
      font-size: 13px;
      line-height: 16px;
      position: relative;
      padding-right: 29px;
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
   }


   .filter__extra::after {
      content: "";
      position: absolute;
      right: 0;
      width: 12px;
      height: 8px;
      background-image: url('../images/arrow-down.svg');
      background-repeat: no-repeat;
      top: 4px;

   }


   .filter__extra-content {
      display: none;

   }



   .filter__extra.filter__item-drop--active::after {
      transform: rotate(180deg);
   }


   .filter-btn__reset {
      background-color: transparent;
      padding: 0;
      border: none;
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;

      border-bottom: 1px solid #C4C4C4;
      color: #C4C4C4;
   }



   button.catalog__filter-btngrid {
      width: 26px;
      height: 21px;
   }


   button.catalog__filter-btnline {
      width: 25px;
      height: 19px;

   }





   // .catalog__filter-btnselect{

   // }



   .select-item {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2F3035;
      margin-right: 34px;
      padding: 7px 10px 7px 20px;
      border: 1px solid #D7D9DF;

   }



}


.catalog__filter-button {
   opacity: 0.3;
   outline: none;
}

.catalog__filter-button--active {
   opacity: 1;
}


.product-item__wrapper.product-item__wrapper--list {
   width: 871px;

}

.product-item__wrapper.product-item__wrapper--list .product-item__hover-text {
   display: inline-block;
   left: 50px;

}

.footer__topdrop {
   pointer-events: none;
}


.product-item__wrapper.product-item__wrapper--list {
   width: 100%;
}