.products-popular {
   margin-bottom: 97px;
}

// .container {
// }
// .products {

// 		&__inner {
// 		}

// 		&__title {
// 		}

// 		&__tabs {
// 		}

// 		&__tab {
// 		}

// 		&__tab--active {
// 		}

// 		&__container {
// 		}

// 		&__content {
// 		}

// 		&__content--active {
// 		}
// }
// .tabs-wrapper {
// }
// .tabs {
// }
// .tab {
// }
// .tab--active {
// }
// .tabs-container {
// }
// .tabs-content {
// }
// .tabs-content--active {
// }
// .product-slider {

// 		&__item {
// 		}
// }
.product-item {
   color: rgb(28, 98, 205);
   font-family: "SF Pro Display";
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0%;

}

// 		&__wrapper {
// 		}

// 		&__favorite {
// 		}

// 		&__basket {
// 		}

// 		&__notify-link {
// 		}

// 		&__hover-text {
// 		}

// 		&__img {
// 		}

// 		&__title {
// 		}

// 		&__price {
// 		}

// 		&__notify-text {
// 		}

// 		&__not-available {
// 		}
// }
// .price {
// }
// .product-item--sale {
// }